@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>

    <div>
        
        
        @if (Model.WillAttend == true)
        {
            <h1>Thank you, @Model.Name for Accepting the Invitation!</h1>
            <h1>It's great that you're coming!</h1> 
            @:You are enrolled in the @Model.TechnicalInterest track of the competition.
        }
        else
        {
            @:Sorry to hear that you can't make it, but thanks for letting us know.
        }       
    </div>


</body>
</html>